@font-face {
  font-family: HelveticaNeue;
  src: url(./fonts/HelveticaNeue.ttc);
}

p {
  font-family: HelveticaNeue;
}

.back-button-header {
  border: 0;
  background: inherit;
}

.input {
  font-family: HelveticaNeue;
  /* width: 100%; */
  height: 60px;
  border: 1.8px solid #8ac0e2;
  border-radius: 8px;
  outline: none;
  padding-left: 16px;
}

.input::placeholder {
  height: 21px;
  box-sizing: border-box;
  /* font-family: 'Helvetica Neue'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}

.input-name,
.input-surname {
  width: 385px;
}

.input:focus {
  background: rgba(43, 75, 242, 0.06);
  border: 1.8px solid #6499ff;
}

.invalid {
  border-color: #e52f2f;
}

.valid {
  border-color: #23ff39;
}

/* ///////////////// */
/* coontainer */

.wrapper-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form-wrapper {
  background: #ffffff;
  border-radius: 18px;
  width: 1226px;
  box-sizing: border-box;
  padding-left: 174px;
  padding-top: 88px;
  padding-right: 174px;
}

.worker-info,
.laptop-info {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 33px;
  margin-left: 33px;
  margin-bottom: 0;
}

.underline {
  height: 2px;
  width: 185px;
  background-color: #000;
  margin-top: 15px;
  margin-bottom: 27px;
}

.title-wrapper,
.laptop-info-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.header {
  display: flex;
  margin-top: 90px;
}

.name-surname-block {
  display: flex;
  justify-content: space-between;
}

.name-input-block {
  display: flex;
  flex-direction: column;
}

.surname-input-block {
  display: flex;
  flex-direction: column;
}

.select {
  width: 878px;
  height: 60px;
  background-color: #ebebeb;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding-left: 16px;
  margin-top: 50px;
}

label {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #000000;
}

.form-requirements {
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}

.mail-input {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.tel-input {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
}

.btn-block {
  display: flex;
  justify-content: right;
  margin-top: 90px;
}

.select-laptop {
  margin-top: 40px;
  width: 408px;
  height: 60px;
  background-color: #ebebeb;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  border-radius: 8px;
  border: none;
  box-sizing: border-box;
  padding-left: 16px;
}

/* .select-laptop:visited {
  outline: none;
}

.select:visited {
  outline: none;
} */

.btn-workerform {
  width: 176px;
}

.img-upload-block {
  width: 878px;
  height: 423px;
  background-color: #f6f6f6;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='18' ry='18' stroke='%234386A9FF' stroke-width='5' stroke-dasharray='6%2c 14' stroke-dashoffset='2' stroke-linecap='square'/%3e%3c/svg%3e");
  border-radius: 18px;
}

/* .img-upload__input {
  width: 878px;
  height: 423px;
} */

.img-upload__input::-webkit-file-upload-button {
  height: 60px;
  background: #62a1eb;
  border-radius: 8px;
  border: none;
  color: #fff;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  cursor: pointer;
  /* position: relative;
  left: 100px; */
}

.footer-logo {
  margin-top: 65px;
  margin-bottom: 45px;
}

/* .underline-long {
  border: 1px solid #C7C7C7;
  width: 500px;
} */

.invalid:focus {
  border: 1.8px solid #e52f2f;
}